@media (prefers-color-scheme: dark) {
  body {
    color: $body-color-dark;
    background-color: $body-bg-dark;
  }

  .text-muted {
    color: $body-color-dark !important;
  }

  #topnav .navigation-menu > li > a {
    color: $body-color-dark;
  }

  #topnav.nav-sticky {
    background-color: $body-bg-dark;
  }

  .footer.footer-light {
    background-color: $body-bg-dark;
  }

  .btn-landing svg {
    stroke: $body-color-dark;
   }

  .btn-landing svg path {
    fill: none;
  }

  --bs-btn-border-color: #fff;
}